*{
margin: 0;
padding:0; 
}
/*font für Logo einfügen*/
@font-face {
    font-family: 'KontrapunktBold';
    src: url('../fonts/Kontrapunkt-Bold-webfont.eot');
    src: url('../fonts/Kontrapunkt-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kontrapunkt-Bold-webfont.woff') format('woff'),
         url('../fonts/Kontrapunkt-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Kontrapunkt-Bold-webfont.svg#KontrapunktBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body,html{
margin:0 auto; /* center, not in IE5 */
color: black;
height:100%; /* IE6: treaded as min-height*/
background-color: #8dc3fb;
background-image:url('../images/bg_stripes.png'); 
font-family: "Helvetica", sans-serif;


}




header{
	background: rgba(255,255,255,0.85);
	width: 100%;
	border-bottom: 1px solid #868686;
}
h1{
text-align: center;
font-size:1.3em;
padding-top:0.4em;
width: 100%;
}

footer{
	width: 100%;
    height:70px;
    bottom: 0;
    position: absolute;
    text-align: center;
    overflow: hidden
    /*wenn zu wenig platz überdeckt der button text, wird die position nicht gesetzt kommt es zu pixel fehlern */
}

.content{
 padding-bottom:80px; 
 height: 100%;
}

.container{
  
   min-height:100%;
   position:relative;
   
   }

.right {
float: right; 
}

.aendern{

height: 50px;
height: 50px; 
margin-right: 3%;
margin-top: -2%;
}


section#logo{
height: 51px;
padding-top: 0.8em;
background-image: url('../images/mountain.png');
background-position:bottom left;
background-repeat: no-repeat;

}


p.kontrapunkt{
font: 2.0em 'KontrapunktBold', 'Arial', sans-serif;
color:black;
width: 100%;
text-align: center;

}
p.normal{
font-weight:bold;
padding-top: 2%;
font-size: 1.6em;
color:black;
width: 100%;
text-align: center;

}

p.route_eintrag{
margin-left: 1em; 
}

section#suchergebnisse{
background-color: white;
}

.blue{
color: #007dc5;

}
a{
text-decoration:none !important;
color: black;


}



button#gruppe, button#notfall,button#route_eintragen{
padding-left: 1em; 
border:none;
padding: 10px; 

}


button#route_eintragen, section#further,section#eintrag, button#notruf, section#status{
background-color: white;
width: 94%;
border-radius: 10px;
-webkit-border-radius: 10px;

}

button#route_eintragen, section#further,section#eintrag{
margin: 1.5% 3% !important;
}
section#status, button#notruf{
margin: 1.57% 3% !important;
}

button#notruf{
margin: 0.2% 3% 1.57% 3%!important;
}


section#status{
margin-top: 4%;
margin-bottom: 0;
min-height: 48.5%;
position:relative;
}


button#route_eintragen{
min-height: 21%; /* Mindesthöhe für moderne Browser */
height:auto !important; /* Important Regel für moderne Browser */
height:20%; /* Mindesthöhe für den IE */
overflow: hidden !important; /* FF Scroll-leiste */
margin-top:3% !important; 

}
/*notruf button absetzten*/

button#notruf{
min-height: 16%; /* Mindesthöhe für moderne Browser */
height:auto !important; /* Important Regel für moderne Browser */
height:16%; /* Mindesthöhe für den IE */
overflow: hidden !important; /* FF Scroll-leiste */
background-color: #ac272d;
letter-spacing: -0.03em;
font-weight:100;
font-family: "Helvetica", sans-serif;
font-size: 1.5em;
border:none;
color:white;
padding-right: 7%;
background-repeat: no-repeat;
padding-top: 5%;
padding-bottom: 3%;
padding-left: 10%;

}

.plus{
height: 40px;
margin-top: -7px;
float:left;
}

section#further{
height: 42%;
margin-bottom:2% !important;
margin-top: 4% !important; 
}
button#gruppe{
min-height: 50%; /* Mindesthöhe für moderne Browser */
height:auto !important; /* Important Regel für moderne Browser */
height:50%; /* Mindesthöhe für den IE */
overflow: hidden !important; /* FF Scroll-leiste */
width: 100%;
background-color: white;
border-radius: 10px 10px  0 0;
-webkit-border-radius:  10px 10px 0 0;

}
/*Container für Route eintrags Infos, gleiches Verhalten wie section#further mit zusätzlichen abständen */
section#eintrag{
padding-top: 2%;
height: 62%;
margin-top: 3.2% !important;
margin-bottom: 3.2% !important;

}

section#karte{
height: 68.5%;
width:100%;
background-color: white;
position:relative;
}

button#position{
position:relative;

}


.indikator{
width: 107%;
margin-left: -3%;
}

button#notfall{
min-height: 50%; /* Mindesthöhe für moderne Browser */
height:auto !important; /* Important Regel für moderne Browser */
height:50%; /* Mindesthöhe für den IE */
overflow: hidden !important; /* FF Scroll-leiste */
width: 100%;
background-color: white;
border-radius: 0 0 10px 10px;
-webkit-border-radius: 0 0 10px 10px;
line-height: 80%;
padding-bottom: 15px !important; 
}

p.route{
padding-left: 1.0em; 
letter-spacing: -0.03em;
padding-bottom: 0.6em;
padding-top: 0.8em;
display:inline;
}

p.route_stop{
padding-left: 1em;
letter-spacing: -0.03em;
padding-bottom: 0.6em;
padding-top: 0.8em;
display:inline;

}

p.bold{
font-weight: bold;
padding-top: 0.5em;
padding-left: 0.5em; 
padding-bottom: 0.2em;

}

button#route_starten{
background: url('../images/starten.png') 10% 50%;
background-repeat: no-repeat;
background-size: 60px 50px;
}

button#route_stoppen{
background: url('../images/stoppen.png') 10% 50%;
background-repeat: no-repeat;
background-size: 55px 53px;
}

button#route_starten, button#speichern, button#route_stoppen{
	letter-spacing: 
	font-weight:200 !important;
	border:none;
	border-top:1px solid white;
    font-family: "Helvetica", sans-serif;
	font-size: 1.6em;
	width: 100%;
	color: white;
	background-color: #007dc5;
	height: 100%;
	}
	
button#position{
	margin-top: 2%;
	background: url("../route/img/locate.png") no-repeat scroll 10% 50%, url("../route/img/pattern.png") repeat scroll 0 0 transparent;
	}
	
button#back, button#position {
	border: none; 
	width: 100%;
	padding: 10px;
	font-size: 1.1em; 
	color:white; 
	text-align:center !important; 

}

button#back{
background: url("../route/img/arrow_left.png") no-repeat scroll 10% 50%, url("../route/img/pattern.png") repeat scroll 0 0 transparent;

}

.interaction{
	text-align:left;
	letter-spacing: -0.03em;
	font-weight:100;
    font-family: "Helvetica", sans-serif;
	font-size: 1.6em;
	background-image: url('../images/arrow.png');
	background-position: 90% center;
	background-repeat: no-repeat;
	}
	
	
	


hr{
    border: 0px;
    border-top: 1px solid #c3c3c3;
}



.smaller{
font-size:0.6em;
text-align:left;
margin-top: -0.2em !important;
}

label{
display:block;
font-size: 1.2em;
padding-bottom: 1%;
}
input, textarea{
display: block;
width: 88%;
margin-left: auto;
margin-right:auto;
}

section#eintrag label{
margin-left:6%;
margin-top: 4%;  
}
section#eintrag input, section#eintrag textarea{
margin-bottom: 5%; 
padding-bottom: 6%; 
border-radius: 5px;
-webkit-border-radius: 5px;
}
section#eintrag input{
height: 20%; 
}
section#eintrag textarea{
height: 80%; 
}


/*Detail Section*/	
section#infos{
float: left;
font-size:0.9em;
width:55%;

}

.head{
font-weight: bold;
}
.right{
text-align: center;
}

table{
padding-left: 0.5em;

}

section#add_section{
height: 100%;
}

button#add{
border-radius: 10px;
-webkit-border-radius: 10px;
background-color: #007dc5;
color: white;
border: none;
width: 40%;
font-size: 1.2em;
height: 24%;
vertical-align:top;
padding: 10px;
margin-left: 1%;
}

.addpic{
width: 30%;
}
img.pfeil{
width:7%;
position:absolute;
top:24%;
left: 20%;
}
.clear{
clear:both;
}

.position{
}

.locate{
opacity: 0.4;
margin-right: 2%;
}

.left{
float:left;
width: 40px;
}
.fontSize{
font-size: 1.2em;
}



.route-eintragen-tab{

	


}

#tab-detail{

display: inline;	
float: left;
margin-left: 25%;	

	
}

#tab-karte{

display: inline;	
float:right;
margin-right: 25%;


}

section#route-eintragen-detail{

display: block;


}

section#route-eintragen-karte{

display: block;

}

section#karte{

	display: block;
	position: relative;
	
	width: 100%;
	height: 300px;


}
#map-canvas{

float: right;
top:0;
left: 0;


}

.button_bottom{

}

#route-header-btn-back{
background: #017fc7; /* Old browsers */
background-image: url('img/arrow_left');
background: url('img/arrow_left') 50% 50%, -moz-linear-gradient(top,  #017fc7 0%, #189ae5 100%); /* FF3.6+ */
background: url('img/arrow_left') 50% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017fc7), color-stop(100%,#189ae5)); /* Chrome,Safari4+ */
background: url('img/arrow_left') 50% 50%, -webkit-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Chrome10+,Safari5.1+ */
background: url('img/arrow_left') 50% 50%, -o-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Opera 11.10+ */
background: url('img/arrow_left') 50% 50%, -ms-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* IE10+ */
background: url('img/arrow_left') 50% 50%, linear-gradient(to bottom,  #017fc7 0%,#189ae5 100%); /* W3C */
background-repeat: no-repeat; 
background-size: 20px 23px, 100% 100%; 


width: 50px;
height: 50px;
margin-left: 3%;
margin-top: -2%;
float: left;
display: inline-block;


}




