*{
margin:0;
padding:0;
}

html,body, #mainWrapper
{
  margin:0;
  padding:0;
  height:100%;
  font-family:Helvetica;
  font-size:14px;
  background-color: #fff;
  color:#222;


}

#main {
min-height: 100%;

}

h1{

	font-size: 1.5em;
	font-weight: 400;

}


#wrapper{

	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding-bottom: 60px;

}

#inner_wrapper{
   min-height: 100%;

}

.content{
padding-bottom: 30px;
}


#page1{

	left: 0;
	height:auto;


}

#page2, #page3, #page4, #page5{

	
	left: 100%;
	height: auto;

}



.page{

	position: absolute;
	width: 100%;
	float: left;
	-webkit-transition:left 400ms;

}

header.route-header{
	text-align:center; 
	height: 60px;
	width: 100%;
	background: #189ae5; /* Old browsers */
	background: -moz-linear-gradient(top,  #189ae5 0%, #017fc7 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#189ae5), color-stop(99%,#017fc7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #189ae5 0%,#017fc7 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #189ae5 0%,#017fc7 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #189ae5 0%,#017fc7 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #189ae5 0%,#017fc7 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#189ae5', endColorstr='#017fc7',GradientType=0 ); /* IE6-9 */




}

.route-header-label{
	display: inline-block;
	font-size: 1.5em;
	color: white;
	margin-top: 15px;
	
	

}

.arrow{
width: 20px;
}

.check{
float:right !important;
height: 30px;
}

.check img{
width: 30px;
}

#zielgebiet-ul {

	position: relative;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	

}

#zielgebiet-ul li{

	position: relative;
	border: solid black 1px;
	list-style: none;
	padding: 10px;

	

}

#aktuelles_zeilgebiet{
padding: 20px; 
}

#zielgebiet-ul li h2{

	font-size: 1.0em;

}

#page2-content-zielgebiet-suche{
width: 100%;
}


#page3-content-zielgebiet{


	width: 100%;
	height: auto;
	background-color: #c7e7f9;
	border-bottom: 1px solid #747576;
	border-top: 1px solid #747576;
	font-size: 1.1em;
	

}

#page3-content-zielgebiet img{
	float: right;
}

#page3-btn-eigene-route{

	width: 100%;
	background-color: #027fc7;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url('img/add_route.png');
    background-repeat: no-repeat;
    background-position: 10% 50%;
    color:white;
    text-align:center;
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 20px;

	


}

#page3-db-routen{

	position: relative;
	width: 100%;
	float: left;
	padding: 0;
	background: url('img/pattern.png');
	font-size: 1.3em;


}

#page3-db-routen li{
	padding: 15px;
	position: relative;
	color: white;
	border: solid white 1px;
	list-style: none;
	background: url('img/arrow_right') no-repeat 95% 50%;

}

h1{
padding-bottom: 5px;
}

header.route-header button{

	margin: 10px;
	height: 40px;
	width: 40px;
	background: #017fc7; /* Old browsers */
	background: -moz-linear-gradient(top,  #017fc7 0%, #189ae5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017fc7), color-stop(100%,#189ae5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #017fc7 0%,#189ae5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017fc7', endColorstr='#189ae5',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    border: 1px solid #09689e;

}

#route-header-btn-back{
background: #017fc7; /* Old browsers */
background-image: url('img/arrow_left');
background: url('img/arrow_left') 50% 50%, -moz-linear-gradient(top,  #017fc7 0%, #189ae5 100%); /* FF3.6+ */
background: url('img/arrow_left') 50% 50%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#017fc7), color-stop(100%,#189ae5)); /* Chrome,Safari4+ */
background: url('img/arrow_left') 50% 50%, -webkit-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Chrome10+,Safari5.1+ */
background: url('img/arrow_left') 50% 50%, -o-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* Opera 11.10+ */
background: url('img/arrow_left') 50% 50%, -ms-linear-gradient(top,  #017fc7 0%,#189ae5 100%); /* IE10+ */
background: url('img/arrow_left') 50% 50%, linear-gradient(to bottom,  #017fc7 0%,#189ae5 100%); /* W3C */
background-repeat: no-repeat; 
background-size: 20px 23px, 100% 100%; 

float: left;


}

#route-header-btn-check{
	
float: right;

}

#page1-btn-route-erstellen{

	display: block;
	padding: 15px;
	background: url('img/locate.png') no-repeat 10% 50% , url("img/pattern.png") repeat scroll 0 0 transparent;
	text-align:center;
	
	

}

#page1-btn-route-erstellen img{
float:left;
margin: 10px;
}

#page1-btn-route-loeschen{
	display: none;
}

#page1, #page2, #page3 {
   margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-top: 20px;
}

#page2 input {
padding: 10px;
}

.search{
background: url('img/search.png');
background-repeat: no-repeat;
background-position: right;
width: 90%;
font-size: 1.2em;

}

.btn_suchen{
font-size: 1.2em;
width: 100%;
background: url('img/pattern.png');
color:white;
margin-top: 5px;
margin-bottom: 10px;

}

#page1-btn-route-teilen{

	display: block;
	padding: 15px;
	text-align:center;
	background: url('img/add.png') no-repeat 10% 50%, url('img/pattern.png');
	background-size: 23px 23px, auto; 

}

#page1-btn-route-teilen img{
float:right;
margin-right: 10px;
margin-top: 10px;
}

textarea{
width: 100%;
}

.infos{
font-size: 1.2em; 
margin-top: 15px;
}

.black-btn{

	background: url('img/pattern.png');
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

	

}

.black-btn-text{

	color: white;
	font-size: 1.2em;
	font-weight: 200;


	

}

#map{
z-index:0;
position:relative;
display: block;
float: left;

width: 0;
height: 0;

}

.overlay{
padding: 15px;
left:0px;
background-color: rgba(255,255,255, 0.8);
text-align:center;
position:absolute;
z-index:100;
width: 100%;
}

.start{
background: url('img/start.png') no-repeat 3% 50%,rgba(255,255,255, 0.8);
}

/*  footer Button  */

footer#footer_page1{
    bottom:0;
    width:100%;
    height: 40px;
    margin-top: -50px;	
	text-align:center;
   	color:white;
	clear:both;
	background:  url('img/check.png') no-repeat 10% 50%,url('img/pattern.png');
	padding-top: 20px;

}



footer .save{
font-size: 1.4em;
}

/*Popup*/
.leaflet-popup-content{
background: url('img/delete.png') 5% 50%;
background-repeat: no-repeat; 
background-size: 15px 15px;
padding: 0 0 0 25px;
}

.leaflet-marker-icon {
position:relative;
}

.leaflet-marker-icon div {
 font-size: 11px;
 left: 9px;
 position: absolute;
 top: 8px;

}